[Unit]
Description=Reap stuck wl-paste / wl-copy daemons (flashpaste)
Documentation=https://github.com/NagyVikt/flashpaste

[Service]
Type=simple
ExecStart=/usr/bin/clipboard-janitor
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
