[Unit]
Description=Pre-load the latest screenshot file into xclip (flashpaste)
Documentation=https://github.com/NagyVikt/flashpaste

[Service]
Type=oneshot
ExecStart=/usr/bin/flashpaste-screenshot-preload
